<RCC>
    <qresource prefix="/">
        <file>main.qml</file>
        <file alias="RootWindow.qml">../../beere-qml-components/RootWindow.qml</file>
        <file alias="TaskBarButton.qml">../../beere-qml-components/TaskBarButton.qml</file>
        <file alias="TitleBar.qml">../../beere-qml-components/TitleBar.qml</file>
        <file alias="Menu.qml">../../beere-qml-components/Menu.qml</file>
        <file alias="actions.js">../../beere-qml-components/actions.js</file>
        <file>BrowserPageTaskBar.qml</file>
        <file>MenuContent.qml</file>
        <file>BrowserPage.qml</file>
        <file>PlayerPage.qml</file>
        <file>SettingsPage.qml</file>
        <file>PlayerPageTaskBar.qml</file>
        <file>SettingsPageTaskBar.qml</file>
        <file>helpers.js</file>
    </qresource>
    <qresource prefix="/images">
        <file alias="icon_cancel.png">images/icon_cancel.png</file>
        <file alias="icon_ok.png">images/icon_ok.png</file>
        <file alias="icon_folder.png">images/icon_folder.png</file>
        <file alias="icon_audiofile.png">images/icon_audiofile.png</file>
        <file alias="icon_home.png">images/icon_home.png</file>
        <file alias="icon_speaker.png">images/icon_speaker.png</file>
        <file alias="icon_prev.png">images/icon_prev.png</file>
        <file alias="icon_next.png">images/icon_next.png</file>
    </qresource>
</RCC>
