<RCC>
    <qresource prefix="/">
        <file>main.qml</file>
        <file>TitleBar.qml</file>
        <file>BrowserPageTaskBar.qml</file>
        <file>Menu.qml</file>
        <file>MenuContent.qml</file>
        <file>helpers.js</file>
        <file>BrowserPage.qml</file>
        <file>PlayerPage.qml</file>
        <file>SettingsPage.qml</file>
        <file>TaskBarButton.qml</file>
        <file>actions.js</file>
        <file>PlayerPageTaskBar.qml</file>
    </qresource>
    <qresource prefix="/images">
        <file alias="icon_cancel.png">images/icon_cancel.png</file>
        <file alias="icon_ok.png">images/icon_ok.png</file>
        <file alias="icon_folder.png">images/icon_folder.png</file>
        <file alias="icon_audiofile.png">images/icon_audiofile.png</file>
        <file alias="icon_home.png">images/icon_home.png</file>
        <file alias="icon_speaker.png">images/icon_speaker.png</file>
        <file alias="icon_prev.png">images/icon_prev.png</file>
        <file alias="icon_next.png">images/icon_next.png</file>
    </qresource>
</RCC>
